body {
    background-image: url(./hd-wallpaper-g853287d06_1920.jpg);
}

#form {
text-align: center;
font-size: 50px;
}

#btn {
    font-size: 40px;
    border-radius: 50px;
    box-shadow: 5px 5px rgb(58, 50, 50);
    cursor: pointer;
}